# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
*.iml
*.iws
out/

# Mac
.DS_Store

# Test output
test-output/
/.intellijPlatform/localPlatformArtifacts/IC-241.14494.240/bundledModule-intellij-platform-test-runtime-IC-241.14494.240.xml
/.intellijPlatform/coroutines-javaagent-legacy.jar
/.intellijPlatform/self-update.lock
